.postContainer {
    display: flex;
    flex-direction: column;
    margin: 1rem 2rem 2rem 2rem;
    border-radius: 5px;
    box-shadow: 0 0 50px rgba(250, 245, 245, 0.795);
    padding: 1rem;
    background-color: white;
}

.postHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 10px;
}

.postedBy {
    display: flex;
    font-size: 0.8rem;
    color: #a3a098;
}

h4 {
    color: #545350;
    font-size: 1rem;
    padding: 2px 0;
}

.postedBy img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 8px;
}

.caption {
    color : #545350;
    font-size: 0.9rem;
    padding-bottom: 10px;
}

.postImg img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    border-radius: 5px;
}

.options {
    display: flex;
    flex-direction: column;
}

.options ul {
    list-style-type:none;
    border: 1px solid rgb(161, 158, 158);
    position: absolute;
    transform: translateX(-7rem);
} 

li {
    text-decoration: none;
    padding: 10px;
    border-bottom: 1px solid rgb(161, 158, 158);
    cursor: pointer;
}

.counts {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    box-shadow: 0 1px rgba(199, 183, 183, 0.4);
}

.thumbsdown {
    color: #bf4926;
}

.thumbsup {
    color: #2691bf;
}
.NoOflikes {
    padding-left: 5px;
    padding-right: 20px;
}

.NoOfDislikes {
    padding-left: 5px;
}

.actions {
    display: flex;
    padding: 12px 0;
    justify-content: space-around;
    box-shadow: 0 1px rgba(199, 183, 183, 0.4);  
}

.hitActions {
    margin-right: 7px;
    font-size: 1.15rem;
    color: #383836;
    cursor: pointer;
}

.show {
    cursor: pointer;
}

.clicked {
    margin-right: 7px;
    font-size: 1.15rem;
    color: #2691bf;
    cursor: pointer;
}

.writeComment {
    display: flex;
    align-items: center;
    padding-top: 0.8rem;
    justify-content: space-between;
}

.cmtInput {
    display: flex;
    align-items: center;
    flex: 11;
}

.writeComment img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 20px;
}

.writeComment input {
    width: 100%;
    padding: 0.6rem 1rem ;
    background-color: #edf1f7;
    border: none;
    border-radius: 50px;
}

.writeComment button {
    flex: 1;
    margin:  0 1rem;
    border: none;
    color: #383836;
    padding: 0;
    font-size: 0.9rem;
}