.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cover {
    width: 100%;
}

.cover img {
    width: 100%;
    height: 20%;
}

.profile {
    display: flex;
    flex-direction: column;
}

.info {
    display: flex; 
}

.btnContainer {
    display: flex;
}


.btnContainer button {
    padding: 20px;
    border-radius: 5%;
}

.frnd {
    background-color: #3292c9 ;
    color: white;
    border: none;
}

.website {
    color: #3292c9;
    background: none;
    border: 1px solid #3292c9;
}