.container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(245, 239, 239);
    padding: 0 2rem;
    height: 47px;
}

.logo {
    height: 50px;
    width: 50px;
    cursor: pointer;
}

nav {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

nav img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 8px;
    cursor: pointer;
}

nav span {
    padding-right: 20px;
    font-size: 13px;
    cursor: pointer;
}

.icons {
    margin-right: 10px;
}
